<Configuration ID="15210073-CD38-48D7-8BAA-A640955EA930">
    <Add>
        <Product ID="O365ProPlusRetail">
            <Language ID="MatchOS"/>
            <Language ID="MatchPreviousMSI"/>
            <ExcludeApp ID="Groove"/>
            <ExcludeApp ID="Lync"/>
        </Product>
            <Product ID="VisioProRetail" MSICondition="VisPro,VisProR">
            <Language ID="MatchOS"/>
            <Language ID="MatchPreviousMSI"/>
            <ExcludeApp ID="Groove"/>
            <ExcludeApp ID="Lync"/>
        </Product>
            <Product ID="ProjectProRetail" MSICondition="PrjPro,PrjProR">
            <Language ID="MatchOS"/>
            <Language ID="MatchPreviousMSI"/>
            <ExcludeApp ID="Groove"/>
            <ExcludeApp ID="Lync"/>
        </Product>
    </Add>
    <RemoveMSI/>
    <Display Level="None" AcceptEULA="FALSE"/>
</Configuration>